class {{cls.name}} {
{%- if cls.public_functions %}
public:
    {%- for fct in cls.public_functions %}
    {{fct}};
    {%- endfor -%}
{%- endif -%}
{%- if cls.private_functions %}
private:
    {%- for fct in cls.private_functions %}
    {{fct}};
    {%- endfor -%}
{%- endif -%}
{%- if cls.protected_functions %}
protected:
    {%- for fct in cls.protected_functions %}
    {{fct}};
    {%- endfor -%}
{%- endif %}
{%- if cls.public_attributes %}
public:
    {%- for attr in cls.public_attributes %}
    {{attr}};
    {%- endfor -%}
{%- endif -%}
{%- if cls.private_attributes %}
private:
    {%- for attr in cls.private_attributes %}
    {{attr}};
    {%- endfor -%}
{%- endif -%}
{%- if cls.protected_attributes %}
protected:
    {%- for attr in cls.protected_attributes %}
    {{attr}};
    {%- endfor -%}
{%- endif %}
};
