{#- This is a C++ code generator jinja2 template -#}
{{ header }}

#ifndef {{include_guard|upper}}
#define {{include_guard|upper}}

{% for include in includes_set -%}
#include {{include}}
{% endfor %}

{%- if enum_list %}
{%- for enum in enum_list %}
{{enum}}
{% endfor -%}
{%- endif -%} {# enum #}

{%- if cls_list -%}
{%- for cls in cls_list %}
{{cls}}
{% endfor -%}
{%- endif -%} {# classes #}

{%- if ns_list -%}
{%- for ns in ns_list -%}
{{ns}}
{%- endfor -%} {# namespace loop #}
{%- endif -%} {# namespaces #}
#endif //{{include_guard|upper}}

/* {{ CODEGEN_LOCK }} */